*{
    box-sizing: border-box;
}
body{
    background-color: #F2BED1;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Corazón*/
.cora_contain{
    position: relative;
    margin: 60px auto;
    width: 330px;
    height: 330px;
    animation-name: pulso;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.name_contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: inherit;
    height: inherit;
}
#name{
    text-align: center;
}
.cora_contain > img{
    width: inherit;
    height: inherit;
}
.texto_motivacion{
    width: 75vw;
    margin: 0 auto;
    background-color: #FDCEDF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -5px 5px 0 0 #000;
}
@keyframes pulso {
    0%{}
    50%{width: 350px; height: 350px;}
    100%{}
}